<template>

  <v-card>
      <v-container
        fluid
        grid-list-lg
      >
          <downloadedVideos />
      </v-container>
  </v-card>

  

</template>

<script>
  import downloadedVideos from '../components/DownloadedVideos'

  export default {
    components: {
      downloadedVideos
    }
  }
</script>